.accountsHistoryTitleContainer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 0 1rem;
    
    p {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    span {
        margin-left: 1rem;
        font-size: 1rem;
    }
}


.accountsHistoryTableContainer {
    border: 2px solid black;
    margin-top: 1rem;

    .accountHistoryTableCellHeader {
        background-color: black;
        color: white;
        font-weight: bold;
    }
}

.accountsManageTitleContainer {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;

    h1 {
        text-align: center;
        margin: 0;
    }
}

.tableCellHeaderManageAccounts {
    background-color: black;
    color: white;
    font-weight: bold;

}

.tableRowBodyManageAccounts {
    &:hover {
        background-color: rgba(0, 0, 0, 0.171);
    }
}