.alertEditAccount {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5.1rem;
    margin-left: 5.4rem;
    width: 90%;
    z-index: 100;
}

.modalEditAccountContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalEditAccountCard {
        width: 420px;
        border-radius: 1rem;
        border: 3px solid white;
        background-color: black;

        .modalEditAccountTitleContainer {
            width: 100%;
            height: 3.6rem;
            border-bottom: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
                font-size: 1.5rem;
                margin: 0;
                color: white;
            }
        }

        .modalEditAccountForm {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            p {
                margin: 0;
                color: white;
                text-align: center;
            }

            .modalEditAccountTextField {
                margin: 0 0 1rem 0;

                .MuiOutlinedInput-root {
                    color: white;

                    & fieldset {
                        border: 2px solid white;
                    }
                }

                &:hover fieldset {
                    border: 2px solid #800180;
                }

                .Mui-focused fieldset {
                    border: 2px solid #800180;
                }

                .MuiInputLabel-root {
                    color: black;
                    font-weight: bolder;
                }
            }

            .modalEditAccountButtons {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

}