.modalResetPasswordAlert {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2rem;
    width: 100%;
}

.modalResetPassword {
    display: flex;
    align-items: center;
    justify-content: center;

    .modalResetPasswordContainer {
        width: 420px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid black;

        .modalResetPasswordTitleContainer {
            border-radius: 5px 5px 0 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid black;
            background-color: black;

            h1 {
                color: white;
                margin: 0;
            }
        }

        .modalResetPasswordInputContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            p {
                margin: 0;
                font-size: 1rem;
                text-align: center;
                font-weight: bold;
            }

            .modalResetPasswordInput {
                width: 100%;

                .MuiOutlinedInput-root {
                    color: black;

                    & fieldset {
                        border: 2px solid black;
                    }
                }

                &:hover fieldset {
                    border: 2px solid #800180;
                }

                .Mui-focused fieldset {
                    border: 2px solid #800180;
                }

                .MuiInputLabel-root {
                    color: black;
                    font-weight: bolder;
                }
            }
        }

        .modalResetPasswordButtonContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
        }
    }
}